
<div class="span8">
  <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
  <%= link_to "Sign in with linkedIn",user_omniauth_authorize_path(:linkedin)%>

</div>

<div class="span4">
The sign-up form
<%= render "shared/sign_up" %>
</div>
