.login {
  float: right;
}

#sign_in_email {
  margin-left: -600px;
}

#sign_in_password {
  margin-top: -65px;
  margin-left: -350px;
}

#sign_in_checkbox {
  margin-left: -600px;
  margin-top: -10px;
}

#sign_in {
  margin-top: -60px;
  margin-left: -105px;
}

#sign_in_forget{
  margin-left: -350px;
  margin-top: 10px;
}

#remember{
  margin-top: -15px;
  margin-left: 20px;
}