<li>
  <% if @logged_in_user.microposts.count !=0 %>
  <span class="content"><%= @logged_in_user.microposts.first.content %></span>
  <span class="timestamp">






    <%= link_to "delete", @logged_in_user.microposts.first, method: :delete,
                data: { confirm: "You sure?" },
                title: @logged_in_user.microposts.first.content,
                class: 'delete_post'
    %>



    <% end %>
  </span>
</li>

