<li>
  <% if @logged_in_user.microposts.count !=0 %>
      <% @microposts.each do |micropost| %>
          <span class="content"><%= micropost.content %></span>
          <span class="timestamp">


                <%= link_to "delete", micropost, method: :delete,
                            data: { confirm: "You sure?" },
                            title: @logged_in_user.microposts.first.content,
                            class: 'delete_post'
                %>
          </span>
          <% @commentable = micropost  %>
          <% @comments = @commentable.comments %>
          <% @comment = @commentable.comments.new %>

          <%= render "comments/comments" %>
          <%= render "comments/form" %>
      <% end %>

  <% end %>

</li>

